<div class="container">
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row"
                class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">

                    <span class="msg-error" *ngIf="msgError">{{ msgError }}</span>

                    <div id="login-box" class="col-md-12">
                        <form [formGroup]="formAuth" id="login-form"
                            class="form" (ngSubmit)="submitForm()">
                            <h3 class="text-center text-info">A-Quina</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="email" formControlName="email"
                                    id="username"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password"
                                    formControlName="password"
                                    id="password"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">

                                <input type="submit"
                                    class="btn btn-info btn-md" value="Login"
                                    [disabled]="formAuth.invalid">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
