<app-home></app-home>
<section class="about container">
    <h1 class="text-center mb-5">Sobre</h1>
    <p>Profissional de Desenvolvimento Web altamente qualificado com
        vasta experiência em stacks Laravel PHP, VueJs e Angular.
        Demonstrado histórico de participação em diversos projetos bem
        sucedidos, com expertise em integração de APIs e configuração de
        servidores Apache para hospedagem de websites. Especializado em
        otimização de processos e soluções eficientes.</p>
</section>
